// .slider_main {
//     &.owl-carousel {
//         // .owl-nav {
//         //     max-width: 1200px;
//         //     left: 50%;
//         //     transform: translateX(-50%);
//         //     [class^="owl-"] {
//         //         background: #555;
//         //         padding: 0 20px;
//         //         border-radius: 3px;
//         //         .fa {
//         //             font-size: 50px;
//         //         }
//         //     }
//         // }
//         .owl-dots {
//             .owl-dot {
//                 opacity: 1;
//                 span {
//                     width: 10px;
//                     height: 10px;
//                     text-align: center;
//                     line-height: 22px;
//                     background: $c1;
//                     border: 3px solid transparent;
//                     box-shadow: 0 0 0px 1px #fff;
//                     opacity: 1;
//                 }
//                 &.active,
//                 &:hover {
//                     span {
//                         border: 2px solid #fff;
//                         background-color: $c1;
//                         box-shadow: 0 0 0px 2px $c1;
//                     }
//                 }
//             }
//         }
//     }
// }

// .main-custom-nav {
//     margin: 10px 0 0;
//     text-align: right;
//     button {
//         border: none;
//         background: none;
//         &:focus {
//             outline: none;
//             border: none;
//         }
//     }
//     ul {
//         display: inline-block;
//         font-size: 12px;
//         li {
//             display: inline-block;
//             cursor: pointer;
//             padding: 0 5px;
//             border-radius: 5px;
//             &.active {
//                 background: #8e8888;
//                 color: #fff;
//             }
//         }
//     }
// }
// .slider_sub {
//     &.owl-carousel {
//         padding: 3px; // border:1px solid $c-bder;
//         .item {
//             border: 1px solid $c-bder;
//             margin-bottom: 1px;
//             img {
//                 padding: 10px 30px;
//             }
//             h3 {
//                 font-size: 12px;
//                 font-style: italic;
//                 border-left: 15px solid $c2;
//                 padding-left: 10px;
//                 transition: all .3s;
//                 &:hover {
//                     border-left-width: 20px;
//                 }
//             }
//         }
//         .owl-nav {
//             max-width: 1200px;
//             left: 50%;
//             transform: translateX(-50%);
//             [class^="owl-"] {
//                 font-size: 0;
//                 background: rgba(255, 255, 255, .8);
//                 padding: 5px 5px;
//                 border-radius: 3px;
//                 .fa {
//                     font-size: 20px;
//                     color: #000;
//                 }
//             }
//             .owl-prev {
//                 left: 5px;
//             }
//             .owl-next {
//                 right: 5px;
//             }
//         }
           // .owl-dots {
//         //     position: relative;
//         //     text-align: right;
//         //     .owl-dot {
//         //         span {
//         //             width: 20px;
//         //             height: 20px;
//         //             text-align: center;
//         //             line-height: 22px;
//         //             background: transparent;
//         //         }
//         //         &.active,
//         //         &:hover {
//         //             span {
//         //                 background-color: #ccc; // box-shadow: 0 0 0px 2px #fff;
//         //             }
//         //         }
//         //     } 
//         // }
//     }
// }


// .slider_dt {
//     img {
//         filter: grayscale(1);
//         transition: all 0.3s;
//         &:hover {
//             filter: grayscale(0);
//         }
//     }
//     &.owl-carousel {
//         .owl-nav {
//             top: auto;
//             bottom: 0;
//             [class^="owl-"] {
//                 background: rgba(255, 255, 255, 0.8);
//                 // padding: 5px 8px;
//                 padding: 0;
//                 border-radius: 3px;
//                 font-size: 20px;
//                 text-shadow: none;
//                 .fa {
//                     font-size: 20px;
//                     color: #555;
//                 }
//             }
//             .owl-prev {
//                 left: 0px;
//             }
//             .owl-next {
//                 right: 0px;
//             }
//         }
//         .owl-dots {
//             position: relative;
//             // text-align: right;
//             .owl-dot {
//                 span {
//                     width: 15px;
//                     height: 15px;
//                     text-align: center;
//                     line-height: 22px;
//                     background:transparent url(../img/dot-o.png) center center no-repeat;
//                     background-size: contain;
//                     border-radius: 0;
//                 }
//                 &.active,
//                 &:hover {
//                     span {
//                         background-image: url(../img/dot-a.png);
//                     }
//                 }
//             } 
//         }
//     }
// }

//s ---------------------------------------------------------------j-carousel
// .jcarouse {
//     padding: 0 10px;
//     margin: 10px 0;
//     a {
//         color: #000;
//         &:hover {
//             color: blue;
//         }
//     }
// }
// .j_thongbao {
//     padding: 0 10px;
//     margin: 10px 0;
//     li {
//         border-bottom: 1px dashed #ccc;
//         margin-bottom: 10px;
//     }
//     img {
//         float: left;
//         margin-right: 5px;
//     }
//     h3 {
//         color: #000;
//         padding: 2px 0 0;
//         margin-bottom: 5px;
//         &:hover {
//             color: blue;
//         }
//     }
// }
// .slick_video{
//     .slick-item{
//         height: 300px;
//         iframe{
//             width: 100%;
//             height: 100%;
//         }
//     }
// }
// .slick_video_nav{
//     .slick-item{
//         margin: 0 10px;
//     }
// }
// .slick_prod{
//     .slick-item{
//         margin: 0 7px;
//     }
//     button{
//         filter:drop-shadow(0 0 1px #000)
//     }
//     .slick-prev, .slick-next{
//         top: 31%;
//     }
// }
/*==================================================Slider detail=================================================================*/

.gc-icon.gc-icon-download {
    display: none !important;
}
.gc-thumbs-area-next .gc-icon.gc-icon-next:before {
    content: "\f105" !important;
    font: normal normal normal 24px/1 fontawesome !important;
    width: 24px;
    height: 24px;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}
.gc-thumbs-area-prev .gc-icon.gc-icon-prev:before {
    content: "\f104" !important;
    font: normal normal normal 24px/1 fontawesome !important;
    width: 24px;
    height: 24px;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}
.gc-display-area .gc-icon.gc-icon-next {
    width: 36px !important;
    height: 50px !important;
    right: 10px;
}
.gc-display-area .gc-icon.gc-icon-next:before {
    content: "\f105" !important;
    font: normal normal normal 48px/1 fontawesome !important;
    width: 36px;
    color: #fff;
    height: 50px;
    text-align: center;
}
.gc-display-area .gc-icon.gc-icon-prev {
    width: 36px !important;
    height: 50px !important;
    left: 10px;
}
.gc-display-area .gc-icon.gc-icon-prev:before {
    content: "\f104" !important;
    font: normal normal normal 48px/1 fontawesome !important;
    width: 36px;
    color: #fff;
    height: 50px;
    text-align: center;
}
.gc-overlay-right-icons .gc-icon.gc-icon-next {
    width: 36px !important;
    height: 50px !important;
    text-align: center;
}
.gc-overlay-right-icons .gc-icon.gc-icon-next:before {
    content: "\f105" !important;
    font: normal normal normal 48px/1 fontawesome !important;
    width: 36px !important;
    height: 50px !important;
    color: #fff;
}
.gc-overlay-left-icons .gc-icon.gc-icon-prev {
    width: 36px !important;
    height: 50px !important;
    text-align: center;
}
.gc-overlay-left-icons .gc-icon.gc-icon-prev:before {
    content: "\f104" !important;
    font: normal normal normal 48px/1 fontawesome !important;
    width: 36px !important;
    height: 50px !important;
    color: #fff;
}
.gc-icon.gc-icon-enlarge {
    display: none !important;
}
.gc-overlay-top-icons .gc-icon.gc-icon-close:before {
    content: "\f00d" !important;
    font: normal normal normal 25px/1 fontawesome !important;
    color: #fff;
    width: 24px;
    text-align: center;
}
.slider_detail {
    .glass-case {
        margin: auto;
        ul {
            li {
                border: none;
            }
        }
        img {
            width: initial;
        }
        .gc-thumbs-area .gc-icon {
            border: none; //background: rgba(0, 0, 0, 0.6);
            margin-top: 0px !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: initial;
            height: initial;
            &.gc-icon-next-vt {
                &:before {
                    font-family: Fontawesome;
                }
            }
        }
    }
}