extends ../layouts/_index.pug
block content
  article.home-content
    // begin banner
    section.sc-banner
      .container
        .row.m-80
          .col-lg-3.col-md-3.hidden-sm.hidden-xs.p80
            .danhmuc
              h2.tit-dm
                .tit-icon
                  i.fa.fa-bars
                |  Danh mục sản phẩm
              ul.as-menu
                li.dropdown
                  a(href="")
                    img(src="img/i-dm1.png")
                    | Tất cả sản phẩm
                  ul.dropdown-content
                    li.dropdown
                      a(href="")
                        img(src="img/i-dm-child.png")
                        | link 1
                      ul.dropdown-content
                        li
                          a(href="")
                            img(src="img/i-dm-child.png")
                            | link 1
                        li
                          a(href="")
                            img(src="img/i-dm-child.png")
                            | link 1
                        li
                          a(href="")
                            img(src="img/i-dm-child.png")
                            | link 1
                    li
                      a(href="")
                        img(src="img/i-dm-child.png")
                        | link 1
                    li
                      a(href="")
                        img(src="img/i-dm-child.png")
                        | link 1
                    li
                      a(href="")
                        img(src="img/i-dm-child.png")
                        | link 1
                    li
                      a(href="")
                        img(src="img/i-dm-child.png")
                        | link 1
                li.dropdown
                  a(href="")
                    img(src="img/i-dm2.png")
                    | Thê thao
                  ul.dropdown-content.mega-content
                    .row
                      .col-md-6
                        h3.tit-menu Nổi bật
                        li
                          a(href="")
                            img(src="img/i-dm-child.png")
                            | link 1 link 1 link 1
                        li
                          a(href="")
                            img(src="img/i-dm-child.png")
                            | link 1 link 1 link 1
                        li
                          a(href="")
                            img(src="img/i-dm-child.png")
                            | link 1 link 1 link 1
                      .col-md-6
                        h3.tit-menu Mới nhất
                        .menu-prod
                          a(href="")
                            img.w1(src="img/sp1.jpg")
                            h3 Apple Macbook 14 inch 256GB - Rose 2016
                          .price
                            span.current 25.000.000 ₫
                            span.older 35.000.000 ₫
                li
                  a(href="")
                    img(src="img/i-dm3.png")
                    | Mỹ phẩm
                li
                  a(href="")
                    img(src="img/i-dm4.png")
                    |  thời trang
                li
                  a(href="")
                    img(src="img/i-dm5.png")
                    | Điện thoại & ipad
                li
                  a(href="")
                    img(src="img/i-dm6.png")
                    | Mẹ và bé
                li
                  a(href="")
                    img(src="img/i-dm7.png")
                    | phụ kiện công nghệ
                li
                  a(href="")
                    img(src="img/i-dm8.png")
                    | Laptop
                li
                  a(href="")
                    img(src="img/i-dm9.png")
                    | Trang sức
                li
                  a(href="")
                    img(src="img/i-dm10.png")
                    | Máy ảnh
                li
                  a(href="")
                    img(src="img/i-dm11.png")
                    | Sản phẩm khuyến mãi
          .col-lg-9.col-md-9.col-sm-12.col-xs-12.p80
            .slider_main.owl-carousel
              .item
                a(href="")
                  img(src="img/banner1.jpg")
              .item
                a(href="")
                  img(src="img/banner1.jpg")
              .item
                a(href="")
                  img(src="img/banner1.jpg")
            .dp-top-right.hidden-sm.hidden-xs
              ul#main-custom-dots
                li.owl-dot
                  img(src="img/banner-thum1.jpg")
                  .txt
                    a(href="")
                      .tit Viên uống trắng da cao cấp
                      .desc Sản xuất 100% từ thiên thiên
                li.owl-dot
                  img(src="img/banner-thum2.jpg")
                  .txt
                    a(href="")
                      .tit Viên uống trắng da cao cấp
                      .desc Sản xuất 100% từ thiên thiên
                li.owl-dot
                  img(src="img/banner-thum3.jpg")
                  .txt
                    a(href="")
                      .tit Viên uống trắng da cao cấp
                      .desc Sản xuất 100% từ thiên thiên
            script.

    // end banner
    // begin sanpham-hot
    section.sc-sanpham-hot
      .container
        .m-80
          .col-md-3.hidden-sm.hidden-xs.p80
            .imgage_hover
              a(href="")
                img.insImageload.w1(src="img/seller_banner.jpg" alt="Super store")
          .col-md-9.p80
            .slider_prod_hot.owl-carousel.imgRow
              .item
                .prod
                  .relative
                    a.reRenderImg.relative(href="")
                      img(src="img/prod1.jpg")
                    .dp-mid-center
                      a.quick_views(href="")
                        img(src="img/zoom_w.png" alt="Xem nhanh" title="Xem nhanh")
                      a.view_product(href="")
                        img(src="img/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết")
                      a.add-cart(href="")
                        img(src="img/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ")
                    .dp-top-right
                      | Giảm 92%
                  .txt
                    h3
                      a(href="") Balo nam nữ style dể thương SID49706
                    .price
                      span.current 25.500₫
                      span.older 30.000₫

    // end sanpham-hot

    // begin sanpham-home
    section.sc-sanpham-home
      .container
        h2.title-home
          a(href="") THỜI TRANG & SẮC ĐẸP
        .row.m-80
          .col-md-3.hidden-sm.hidden-xs.p80
            ul.list-cate-block.clearfix
              - for (i=0; i<6; i++)
                li
                  a(href="")
                    img(src="img/brand_1_block_home_1.png")
                    span Áo nam/nữ

            a(href="")
              img.w1(src="img/banner_block_home_1.jpg" style="margin-left: -1px")
          .col-md-9.p80
            .main-block
              // Nav tabs
              .home-tab-mb.btn.btn-default.hidden-lg.hidden-md.hidden-sm.flr
                i.fa.fa-list

              ul.home-tabs.ajax-tabs(role="tablist")
                li.active(role="presentation")
                  a(href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab") Mỹ phẩm
                li(role="presentation")
                  a(href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab") Thời trang
                li(role="presentation")
                  a(href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab")
                    | Viên uống chức
                    | năng
                li(role="presentation")
                  a(href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab") Trang sức
                li(role="presentation")
                  a(href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab") Bán chạy
              // Tab panes
              .tab-content.home-tabs-content
                - for (let i=0; i< 5; i++)
                  .tab-pane.active.imgRow(role="tabpanel" id="tab"+(i+1))
                    - for (let j=0; j<10; j++)
                      .col-lg-200.col-md-3.col-sm-4.col-xs-6.p0
                        .home-prod
                          .relative
                            a.reRenderImg.relative(href="")
                              img(src="img/prod1.jpg")
                            .dp-mid-center
                              a.quick_views(href="")
                                img(src="img/zoom_w.png" alt="Xem nhanh" title="Xem nhanh")
                              a.view_product(href="")
                                img(src="img/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết")
                              a.add-cart(href="")
                                img(src="img/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ")
                            .dp-top-right
                              | Giảm 92%
                          .txt
                            h3
                              a(href="") Balo nam nữ style dể thương SID49706 #{i+1}
                            .price
                              span.current 25.500₫
                              span.older 30.000₫
                    .clearfix
                    .more
                      a(href="") Xem thêm

    // end sanpham-home

    // begin deal-time
    section.sc-deal-time
      .container
        h2.title-home
          a(href="") deal time
        .slider_deal.owl-carousel
          .item
            .prod
              .relative
                a.reRenderImg.relative(href="")
                  img(src="img/prod1.jpg")
                .deal-countdown(data-deal-time="may 15, 2019 11:24:50")
                  .day.time-box
                    .num
                      span -
                    .label
                      span Ngày
                  .hour.time-box
                    .num
                      span -
                    .label
                      span Giờ
                  .min.time-box
                    .num
                      span -
                    .label
                      span phút
                  .sec.time-box
                    .num
                      span -
                    .label
                      span Giây
                .dp-mid-center
                  a.quick_views(href="")
                    img(src="img/zoom_w.png" alt="Xem nhanh" title="Xem nhanh")
                  a.view_product(href="")
                    img(src="img/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết")
                  a.add-cart(href="")
                    img(src="img/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ")
                .dp-top-right
                  | Giảm 92%
              .txt
                h3
                  a(href="") Balo nam nữ style dể thương SID49706
                .price
                  span.current 25.500₫
                  span.older 30.000₫
          .item
            .prod
              .relative
                a.reRenderImg.relative(href="")
                  img(src="img/prod1.jpg")
                .deal-countdown(data-deal-time="jun 15, 2019 11:14:50")
                  .day.time-box
                    .num
                      span -
                    .label
                      span Ngày
                  .hour.time-box
                    .num
                      span -
                    .label
                      span Giờ
                  .min.time-box
                    .num
                      span -
                    .label
                      span phút
                  .sec.time-box
                    .num
                      span -
                    .label
                      span Giây
                .dp-mid-center
                  a.quick_views(href="")
                    img(src="img/zoom_w.png" alt="Xem nhanh" title="Xem nhanh")
                  a.view_product(href="")
                    img(src="img/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết")
                  a.add-cart(href="")
                    img(src="img/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ")
                .dp-top-right
                  | Giảm 92%
              .txt
                h3
                  a(href="") Balo nam nữ style dể thương SID49706
                .price
                  span.current 25.500₫
                  span.older 30.000₫

    // end deal-time
    // begin sc-news-home
    section.sc-news-home
      .container
        h2.title-home
          a(href="") Tin tức nổi bật
        .slider_news.owl-carousel.imgRow
          .item
            .tin
              .bder
                a.img-hover.reRenderImg(href="")
                  img(src="img/blog1.jpg")
                .txt
                  h3
                    a(href="") Cách phối họa tiết kẻ mùa hè ấn tượng như sao ngoại
                  .post-by Đăng bởi: Nguyễn Thanh Tùng
                  hr
                  p
                    | Gigi Hadid và Kendall Jenner là đôi bạn thân người mẫu nổi tiếng nhất thế giới.
                    | Phong cách thời...
                  ul.status
                    li
                      i.fa.fa-comments-o
                      | 5 Bình luận
                    li
                      i.fa.fa-calendar
                      | 04/03/2017

    // end sc-news-home
  .clearfix
