.owl-list{
    display: flex;
    flex-wrap: wrap;
    li{
        position: relative;
        flex: 0 1 20%;
        text-align: center;
        &:nth-child(5){
            label.pickfile{
                margin-right: 0;
            }
        }
        label{
            display: block;
        }
        label.pickfile{
            display: block;
            height: 150px;
            padding: 10px;
            border: 3px dashed #ccc;
            margin-bottom: 15px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center ;
            margin-right: 10px;
            input{
                display: none;
            }
        }
        label.pickthumb{
            display: block;
            width: 40px;
            height: 40px;
            padding: 10px;
            border: 3px dashed #ccc;
            margin-bottom: 15px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center ;
            margin-right: 10px;
            input{
                display: none;
            }
        }
        span.delete{
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10px;
            height: 10px;
            line-height: 10px;
            border-radius: 100%;
            border: 1px solid #ccc;
            cursor: pointer;
        }
    }
}
