// ****************************************************************************
// *                                 variable, mixin                          *
// ****************************************************************************
@import "import/_variable";
@import "import/_mixin";
@import "import/_placeholder";
@import "import/_fonts";
// ****************************************************************************
// *                                  General                                 *
// ****************************************************************************

/* -------------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------- */

@import "import/_general.scss";

// s

/* -------------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------- */

.bg1 {
    background: $c1;
}

.bg2 {
    background: $c2;
}


.bg3 {
    background: $c3;
}

.bg4 {
    background: $c4;
}

.c1 {
    color: $c1;
    font-weight: bold;
}

.c2 {
    color: $c2;
}

.c3 {
    color: $c3;
}

.c4 {
    color: $c4;
}


.bg-gray {
    background: $c-gray;
}

//s

/*  
// ****************************************************************************
// *                                  header                                  *
// ****************************************************************************
*/

@import "import/_qts_header.scss";

//s

/*  
// ****************************************************************************
// *                                   main                                   *
// ****************************************************************************
*/

@import "module/*";

// @import "import/_qts_mid_content.scss";
//s

/* 
// ****************************************************************************
// *                                   aside                                  *
// ****************************************************************************
*/
// @import "import/_qts_left_content.scss";
//s

/* 
// ****************************************************************************
// *                                  footer                                  *
// ****************************************************************************
*/

// @import "import/_qts_footer.scss";
//s

/* 
// ****************************************************************************
// *                                   slide                                  *
// ****************************************************************************
*/

// @import "import/_slider.scss";

