footer#footer
  section.qts_footer_top
    .container
      .row
        .col-md-3.col-sm-3.col-xs-6.item_policy
          .ft-policy.clearfix
            span.name-icon.pull-left.fa.fa-truck
            .description.pull-left
              h4 MIỄN PHÍ VẬN CHUYỂN
              p(style="") Cho đơn hàng trên 500k
        .col-md-3.col-sm-3.col-xs-6.item_policy
          .ft-policy.clearfix(style="")
            span.name-icon.pull-left.fa.fa-money
            .description.pull-left
              h4 CAM KẾT CHÍNH HÃNG
              p Đảm bảo chất lượng 100%
        .col-md-3.col-sm-3.col-xs-6.item_policy
          .ft-policy.clearfix
            span.name-icon.pull-left.fa.fa-smile-o
            .description.pull-left
              h4 HỖ TRỢ TƯ VẤN
              p Thứ 2-Thứ 7 : 08g30 - 17g30
        .col-md-3.col-sm-3.col-xs-6.item_policy
          .ft-policy.clearfix
            span.name-icon.pull-left.fa.fa-phone
            .description.pull-left
              h4 01662 465 188
              p Đặt hàng ngay
  section.qts_footer_mid
    .container
      .row
        .col-md-3.col-sm-3.col-xs-12.footer-left
          .fi-about-block.grid__item.footer-new
            .fi-title1.insScroll
              a(href="")
                img.insImageload.wa(src="img/logo_ft.png" alt="" itemprop="logo")
            .fi-content(style="text-align:justify;")
              | Super Store là chuyên cung cấp các sản phẩm chính hãng với đầy đủ các loại sản phẩm từ
              | thời trang cho đến đồ dùng gia đình, đồ dùng cá nhân, mẹ và bé, nội thất... Với các
              | thương hiệu nổi tiếng được nhập khẩu từ nhiều nước trên thế giới.
        .col-md-9.col-sm-9.col-xs-12.footer-right
          .col-md-3.col-sm-6.col-xs-6.newfooter
            .fi-title Về chúng tôi
            .fi-content
              ul.grid__item.one-whole
                li
                  a(href="/")
                    span Trang chủ
                li
                  a(href="/san-pham-noi-bat")
                    span Bộ sưu tập
                li
                  a(href="/collections/all")
                    span Sản phẩm
                li
                  a(href="/tin-tuc")
                    span Tin tức
                li
                  a(href="/gioi-thieu")
                    span Giới thiệu
                li
                  a(href="/thoi-trang-ban-chay")
                    span Thời trang mới
                li
                  a(href="/deal-time")
                    span Best Seller
                li
                  a(href="/lien-he-voi-chung-toi")
                    span Liên hệ
          .col-md-3.col-sm-6.col-xs-6.newfooter
            .fi-title Hướng dẫn
            .fi-content
              ul.grid__item.one-whole
                li
                  a(href="/")
                    span Trang chủ
                li
                  a(href="/san-pham-noi-bat")
                    span Bộ sưu tập
                li
                  a(href="/collections/all")
                    span Sản phẩm
                li
                  a(href="/tin-tuc")
                    span Tin tức
                li
                  a(href="/gioi-thieu")
                    span Giới thiệu
                li
                  a(href="/thoi-trang-ban-chay")
                    span Thời trang mới
                li
                  a(href="/deal-time")
                    span Best Seller
                li
                  a(href="/lien-he-voi-chung-toi")
                    span Liên hệ
          .col-md-3.col-sm-6.col-xs-6.newfooter
            .fi-title Thông tin
            .fi-content
              ul.grid__item.one-whole
                li
                  a(href="/")
                    span Trang chủ
                li
                  a(href="/san-pham-noi-bat")
                    span Bộ sưu tập
                li
                  a(href="/collections/all")
                    span Sản phẩm
                li
                  a(href="/tin-tuc")
                    span Tin tức
                li
                  a(href="/gioi-thieu")
                    span Giới thiệu
                li
                  a(href="/thoi-trang-ban-chay")
                    span Thời trang mới
                li
                  a(href="/deal-time")
                    span Best Seller
                li
                  a(href="/lien-he-voi-chung-toi")
                    span Liên hệ
          .col-md-3.col-sm-6.col-xs-6.newfooter
            .fi-title Chính sách
            .fi-content
              ul.grid__item.one-whole
                li
                  a(href="/")
                    span Trang chủ
                li
                  a(href="/san-pham-noi-bat")
                    span Bộ sưu tập
                li
                  a(href="/collections/all")
                    span Sản phẩm
                li
                  a(href="/tin-tuc")
                    span Tin tức
                li
                  a(href="/gioi-thieu")
                    span Giới thiệu
                li
                  a(href="/thoi-trang-ban-chay")
                    span Thời trang mới
                li
                  a(href="/deal-time")
                    span Best Seller
                li
                  a(href="/lien-he-voi-chung-toi")
                    span Liên hệ
  section.qts_footer_bot
    .container
      .row
        .col-md-9.col-sm-12.col-xs-12
          .bot-ft.clearfix.insScroll
            .col-md-4.logo-ft-1.hidden-xs.hidden-sm
              a(href="/" title="Bộ công thương")
                img.insImageload.wa(data-load="true" src="img/dtb.png")
            .col-md-8.copy
              p
                | Công ty TMDV Super store
                br
                |  Template bán hàng đẹp, nhiều tính năng, khả năng Responsive thân thiện với
                |                                     người dùng. Tương thích với mọi thiết bị di động.
                br
                |  Địa chỉ: Số 288, Dương Đình Hội, P. Tăng Nhơn Phú B, Quận 9 - TP Hồ Chí Minh
                br
                |  ĐT:
                a(href="tel:01662465188") 01662 465 188
                br
                |  Email:
                a(href="mailto:inspire.itdev@gmail.com") inspire.itdev@gmail.com
        .col-md-3.hidden-xs.hidden-sm.ft_payment
          .fi-title Thanh toán
          .fi-content.insScroll
            img.insImageload.wa(data-load="true" src="img/payment.png" alt="Các phương thức thanh toán")
        p.col-sm-12.col-xs-12.cpr.text-center
          | © Bản quyền thuộc về Inspired theme | Cung cấp bởi
          a(rel="nofollow" href="https://www.bizweb.vn/?utm_source=site-khach-hang&utm_campaign=referral_bizweb&utm_medium=footer&utm_content=cung-cap-boi-bizweb" title="Bizweb" target="_blank") Bizweb
          | .
a#go_top.center(href="#top")
  i.fa.fa-angle-up.fa-lg
a#fixed-cart.center(href="#")
  img(src="img/icon_cart_mb.png")
// <a href="" class="chat-online"><img src="img/chat-online.png"></a>
// ****************************************script ***********************************************
// ****************************************script ***********************************************
script(type="text/javascript").
  $(function () {
    // fixed-hl
    $('.fx-hl').click(function () {
      // $(this).toggleClass('plus');
      $('.fixed-hl').toggleClass('mini');
    })
  });
  $("a[href='#top'] , .to-top, #go_top ").click(function () {
    $("html, body").animate({
      scrollTop: 0
    }, "slow");
    return false;
  });
  $(window).scroll(function () {
    if ($(window).scrollTop() >= 200) {
      $('#go_top').show();
    } else {
      $('#go_top').hide();
    }
  });
script(src="js/owl.carousel2.min.js")
