@import "../import/variable.scss";
@import "../import/_mixin.scss";
@import "../import/_placeholder.scss";

.sc-banner {
	background: #fff;
	padding-top: 15px;
	margin: 0px 0 15px;
	.danhmuc {
		border: 1px solid $c-bder;
		border-bottom: 2px solid $c1;
		.tit-dm {
			font-family: 'brandontext_bold', sans-serif;
			background: $c1;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			line-height: 40px;
			margin: 0;
			.tit-icon {
				float: left;
				background: $c3;
				width: 40px;
				height: 40px;
				text-align: center;
				.fa {
					font-size: 20px;
				}
			}
		}
		.as-menu {
			@include as-menu-pc;
			.tit-menu {
				font-size: 16px;
				font-weight: bold;
				padding: 10px;
				margin: 0;
			}
			.dropdown {

				&:after {
					font-family: fontAwesome;
					content: "\f105";
					font-size: 18px;
					position: absolute;
					top: 0;
					right: 0;
					width: 30px;
					height: 40px;
					line-height: 40px;
					text-align: center;
				}
				.dropdown-content.mega-content {
					background: #fff;
					width: 450px;
					min-width: 100%;
					a {
						border: none;
					}
				}
			}
			li {
				a {
					color: #333;
					font-size: 15px;
					padding: 6px 10px 5px 5px;
					border-bottom: 1px solid $c-bder;
					img {
						margin-right: 10px;
					}
				}
			}
			.menu-prod {
				h3 {
					font-size: 15px;
					font-weight: 500;
					margin: 10px 0;
				}
				.price {
					margin-bottom: 10px;
					.current {
						font-family: 'brandontext_bold', sans-serif;
						font-size: 17px;
						color: $c1;
					}
					.older {
						// font-family: 'brandontext_bold', sans-serif;
						text-decoration: line-through;
						font-size: 12px;
						margin-left: 5px;
						color: #999;
					}
				}
			}
		}
	}
	.slider_main {
		&.owl-carousel {
			&:hover {
				.owl-nav {
					div {
						opacity: 1;
					}
					.owl-prev {
						left: 0;
					}
					.owl-next {
						right: 0;
					}
				}
			}
			.owl-nav {
				max-width: 1200px;
				left: 50%;
				transform: translateX(-50%);
				div {
					opacity: 0;
					transition: all .3s;
				}
				[class^="owl-"] {
					font-family: serif;
					font-size: 50px;
					background: #fff;
					padding: 0 0px;
					width: 30px;
					height: 50px;
					line-height: 40px; // border-radius: px;
					border: 1px solid $c1;
					color: $c1;

					text-shadow: none;
				}
				.owl-prev {
					left: 20px;
				}
				.owl-next {
					right: 20px;
				}
			}
		}
	}
	.dp-top-right {
		position: absolute;
		z-index: 1;
		top: 15px;
		right: 20px;
		background: #fff;
		min-width: 235px;
		border: 1px solid #dfdfdf;
		border-bottom: 0;
		ul {
			li {
				position: relative;
				display: block; // background: #000;
				padding: 7px 10px;
				border-bottom: 1px solid #ccc;
				&.active,
				&:hover {
					background: #eee;
					&:before,
					&:after {
						right: 100%;
						top: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}
					&:before {
						border-color: rgba(136, 183, 213, 0);
						border-right-color: #ccc;
						border-width: 11px;
						margin-top: -11px;
					}
					&:after {
						border-color: rgba(194, 225, 245, 0);
						border-right-color: #eee;
						border-width: 10px;
						margin-top: -10px;
					}
				}

				img {
					float: left;
					margin-right: 10px;
				}
				.txt {
					font-size: 11px;
					overflow: hidden;
				}
			}
		}
	}
}

@media(min-width: 992px) and (max-width: 1199px) {
	.sc-banner {
		.danhmuc {
			.tit-dm {
				line-height: 35px;
				font-size: 12px;
				.tit-icon {
					width: 35px;
					height: 35px;
				}
			}
			.as-menu {
				li a {
					font-size: 12px;
					padding: 4px 10px 3.5px 5px;
					img{
						max-height: 15px;
					}
				}
				.dropdown:after {
					height: 35px;
					line-height: 30px;
				}
			}
		}
	}
}