@import "../import/variable.scss";
@import "../import/_mixin.scss";
@import "../import/_placeholder.scss";
.sc-sanpham-hot {
	.prod {
		@include prod;
	}
	.slider_prod_hot {
		&.owl-carousel {
			&:hover {
				.owl-nav {
					div {
						opacity: 1;
					}
					.owl-prev {
						left: 0;
					}
					.owl-next {
						right: 0;
					}
				}
			}
			.owl-nav {
				max-width: 1200px;
				left: 50%;
				transform: translateX(-50%);
				div {
					opacity: 0;
					transition: all .3s;
				}
				[class^="owl-"] {
					font-family: serif;
					font-size: 50px;
					background: #fff;
					padding: 0 0px;
					width: 30px;
					height: 50px;
					line-height: 40px; // border-radius: px;
					border: 1px solid $c1;
					color: $c1;

					text-shadow: none;
				}
				.owl-prev {
					left: 20px;
				}
				.owl-next {
					right: 20px;
				}
			}
		}
	}
}